#contenedor1 {
    border: 2px solid red;
    background-color: rgb(255, 255, 255);
   margin:0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#verde {
    display: flex;
    top: 50px;
    left: 50px;
    border: 2px solid green;
    background-color: lightgreen;
    width: 30%;
    height: 150px;
    box-sizing: border-box
    justify-content: center
    align-items: center;
}

#amarillo {
    display: flex;
    border: 2px solid orange;
    background-color: yellow;
    width: 30%;
    height: 150px;
    box-sizing: border-box;
}

#rojo {
    display: flex;
    border: 2px solid red;
    background-color: lightcoral;
    width: 30%;
    height: 150px;
    box-sizing: border-box;
    top: 200px;
    right: 0;
}